body {
    background-color: #eeeeee; /* Šviesus fonas */
    color: #1f677f; /* Tekstas */
}

.navbar-custom {
  background-color: #1f677f;
  padding: 20px;
}

.navbar-custom .nav-link {
  color: #dddddd; /* Pakeiskite į pageidaujamą spalvą */
  font-size: 12px;
}

.navbar-custom .nav-link:hover {
  color: #ffffff; /* Pakeiskite spalvą, kai nuoroda yra pakabinama */
  text-decoration: underline;
}

.navbar-custom .navbar-brand {
  color: #ffffff; /* Pakeiskite į pageidaujamą spalvą */
}

.logo-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.admin-link {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 10px;
  color: #8cc4bf; /* Žydra šriftas */
}

.admin-link:hover {
  color: #cbeae7; /* Žydra šriftas pakabinus */
}
