body {
    background-color: #fafafa; /* Šviesus fonas */
    color: #1f677f; /* Tekstas */
}

.navbar-custom {
  background-color: #1f677f;
  padding: 20px;
}

.navbar-custom .nav-link {
  color: #dddddd; /* Pakeiskite į pageidaujamą spalvą */
  font-size: 12px;
}

.navbar-custom .nav-link:hover {
  color: #dddddd; /* Pakeiskite spalvą, kai nuoroda yra pakabinama */
/*  text-decoration: underline;*/
  /*transform: scale(1.02);  /* „Zoom“ efektas: padidina elementą šiek tiek, kai pelės žymeklis yra virš jo */
  text-shadow: 0px 0px 12px rgba(255, 255, 255, 1); /*šešėlio efektas */
  /*transition: all 0.1s ease-in-out;  /* Nustato sklandų perėjimą visiems keitimams per 0,1 sekundės */
}

.navbar-custom .navbar-brand {
  color: #ffffff; /* Pakeiskite į pageidaujamą spalvą */
}

.logo-bottom-right {
    position: absolute;
    bottom: 20px;
    right: 20px;
}


.admin-link {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 10px;
  color: #8cc4bf; /* Žydra šriftas */
}

.admin-link:hover {
  color: #cbeae7; /* Žydra šriftas pakabinus */
  text-decoration: none;
  transform: scale(1.02);  /* „Zoom“ efektas: padidina elementą šiek tiek, kai pelės žymeklis yra virš jo */
  text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5); /*šešėlio efektas */
  transition: all 0.1s ease-in-out;  /* Nustato sklandų perėjimą visiems keitimams per 0,1 sekundės */
}

.custom-link {
  color: #1f677f; /* Pasirink norimą spalvą */
  text-decoration: none; /* Pašalina pabraukimą, jei norima */
}

.custom-link:hover {
  color: #ffcc00; /* Pasirink spalvą kai pelės žymeklis virš nuorodos */
  text-decoration: underline; /* Nuorodos pabraukimas pakabinus */
}


/* Papildomi stiliai automobilių sąrašui */
.user-cars {
  list-style-type: none; /* Pašalina sąrašo taškus */
  padding: 0;
}

.user-cars li {
  padding: 10px; /* Atstumas aplink kiekvieną elementą */
  border-bottom: 1px solid #ccc; /* Apatinė riba */
}

.user-cars li a {
  text-decoration: none; /* Pašalina nuorodų pabraukimą */
  color: #1f677f; /* Nuorodų spalva */
}

.user-cars a:hover {
  color: #ffcc00; /* Nuorodos spalva pakabinus */
  text-decoration: underline; /* Nuorodos pabraukimas pakabinus */
}

.card-text {
    color: #1f677f; /* Pakeiskite #ff5733 į norimą spalvą */
}

.table-striped tbody tr:hover {
/*    background-color: #f1f1f1; /* Pakeiskite #f1f1f1 į norimą spalvą */
    transform: scale(1.02);  /* „Zoom“ efektas */
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.3);  /* Šešėlio efektas */
    transition: all 0.1s ease-in-out;  /* Sklandus perėjimas */
}
.car-link {
    display: block;
    text-decoration: none;  /* Pašalina pabraukimą */
    color: #1f677f;  /* Išlaiko pradinę teksto spalvą */
}

.car-link:hover {
/*    transform: scale(1.005); */
    color: #3f9aaf;  /* Pakeičia spalvą ant hover */
    text-decoration: none;  /* Pašalina pabraukimą */
}

.card {
    display: flex;  /* Nustato flexbox konteinerį, kad jo vidiniai elementai galėtų būti lankstūs */
    flex-direction: column;  /* Išdėsto vaikų elementus vertikaliai (stulpeliu) */
    height: 100%;  /* Užtikrina, kad kortelė užims visą galimą aukštį */
    transition: all 0.1s ease-in-out;  /* Nustato sklandų perėjimą visiems keitimams per 0,1 sekundės */
}

.card-body {
    display: flex;  /* Nustato flexbox konteinerį, kad jo vidiniai elementai galėtų būti lankstūs */
    flex-direction: column;  /* Išdėsto vaikų elementus vertikaliai (stulpeliu) */
    flex-grow: 1;  /* Užtikrina, kad kortelės kūnas užims visą galimą vietą, išstumiant kitus elementus */
}

.card a {
    text-decoration: none !important;  /* Pašalina pabraukimą nuo visų nuorodų kortelėje */
    color: inherit !important;  /* Išlaiko pradinę teksto spalvą */
}

.card a:hover {
    text-decoration: none !important;  /* Pašalina pabraukimą nuo nuorodų, kai jos yra „hover“ būsenoje */
    color: inherit !important;  /* Išlaiko pradinę teksto spalvą */
}

.card:hover {
    transform: scale(1.05);  /* „Zoom“ efektas: padidina elementą šiek tiek, kai pelės žymeklis yra virš jo */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3) !important;  /* Stipresnis šešėlio efektas */
}

.review-container {
    display: flex;  /* Nustato elementą kaip flexbox konteinerį, kad jo vidiniai elementai būtų lankstūs */
/*    justify-content: space-between;  /* Išdėsto vidinius elementus taip, kad tarp jų būtų lygi tarpa */
    align-items: center;  /* Vertikaliai sulygina vidinius elementus pagal konteinerio centrą */
/*    margin-bottom: 0px;  /* Nustato apatinę kraštinę tarpa (nėra tarpo) */
}

.review-img {
    flex-shrink: 0;  /* Užtikrina, kad elementas nesitrauks, jei trūksta vietos */
    margin-right: 30px;  /* Prideda dešinę kraštinę tarpą (30px) */
}

.review-img img {
    width: 50px;  /* Nustato paveikslėlio plotį (50px) */
    height: 50px;  /* Nustato paveikslėlio aukštį (50px) */
    object-fit: cover;  /* Užtikrina, kad paveikslėlis užpildytų elementą, išlaikydamas proporcijas ir nepalikdamas tuščių vietų */
}

.review-text {
    flex-grow: 1;  /* Užtikrina, kad elementas užims visą galimą vietą, išstumiant kitus elementus */
}
