{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <h1>{% trans "Neighborhood Auto Service" %}</h1>
  <p>{% trans "Welcome to the neighborhood auto service!" %}</p>
  <p><strong>{% trans "Current Date:" %}</strong> {% now "Y-m-d" %}
  <ul>
    <li><strong>{% trans "Number of Services:" %}</strong> {{ paslaugu_kiekis }}</li>
    <li><strong>{% trans "Completed Orders:" %}</strong> {{ atlikti_uzsakymai }}</li>
    <li><strong>{% trans "Cars:" %}</strong> {{ num_car }}</li>
    <li><strong>{% trans "Total Orders:" %}</strong> {{ num_cars_bukle }}</li>
    <li><strong>{% trans "Currently Being Repaired:" %}</strong> {{ num_instances_tvarkomas }}</li>
    <li><strong>{% trans "We Work with These Models:" %}</strong> {{ num_car_models }}</li>
  </ul>
  <p>{% trans "This is your" %} {{ num_visits }}{% trans "th visit here." %}</p>
{% endblock %}

<!--