{% extends "base.html" %}

{% block content %}
  <h1>Mikrorajono autoservisas</h1>
  <p>Sveiki atvykę į mikrorajono autoservisą!</p>
  <p><strong>Dabartinė data:</strong> {% now "Y-m-d" %}
  <ul>
    <li><strong>Paslaugų kiekis:</strong> {{ paslaugu_kiekis }}</li>
    <li><strong>Atlikti užsakymai:</strong> {{ atlikti_uzsakymai }}</li>
    <li><strong>Automobilių:</strong> {{ num_car }}</li>
    <li><strong>Viso užsakymų:</strong> {{ num_cars_bukle }}</li>
    <li><strong>Šiuo metu remontuojame:</strong> {{ num_instances_tvarkomas }}</li>
    <li><strong>Dirbame su šiais modeliais:</strong> {{ num_car_models }}</li>
  </ul>
  <p>Čia jūs lankotes {{ num_visits }}-ą kartą.</p>
{% endblock %}