{% extends "base.html" %}

{% block content %}
<h1>Užsakymai</h1>
<p>Užsakymų sąrašas.</p>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Užsakymo NR</th>
        <th scope="col">Automobilis</th>
        <th scope="col">Būklė</th>
        <th scope="col">Data</th>
        <th scope="col">Avataras</th>
    </tr>
    </thead>
    <tbody>
    {% for order in object_list %}
    <tr onClick="window.location.href='{% url 'order_detail' order.id %}';" style="cursor: pointer;">
        <td>
            {{ order.id }}
        </td>
        <td>
            {{ order.automobilis.automobilio_modelis }} - {{ order.automobilis.valstybinis_nr }}
        </td>
        <td class="{% if order.status == 'galima_atsiimti' %}text-success{% elif order.status == 'tvarkomas' %}text-warning{% else %}text-danger{% endif %}">
            {{ order.get_status_display }}
        </td>
        <td>{{ order.data }}</td>
        <td>
            {% if order.vartotojas.profilis.nuotrauka %}
           <img class="rounded-circle" src="{{ order.vartotojas.profilis.nuotrauka.url }}" alt="Profilio Nuotrauka" width="50">
            {% else %}
            <p>Nuotrauka nerasta</p>
            {% endif %}
        </td>

    </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; pirmas</a>
          <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
      {% endif %}

      <span class="current">
          {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
      {% endif %}
  </span>
</div>
{% endblock %}