{% extends "base.html" %}

{% block content %}
  <h1>Mano automobiliai</h1>

  {% if object_list %}
    <ul class="user-cars">
      {% for carinst in object_list %}
        <li class="{% if carinst.is_overdue %}text-danger{% endif %}">
          <a href="{% url 'car_detail' carinst.automobilis.pk %}">
              {{ carinst.automobilis.automobilio_modelis }} -
              {{ carinst.automobilis.valstybinis_nr }} -
              {{ carinst.automobilis.vin_kodas }} -
              <span class="{% if carinst.status == 'galima_atsiimti' %}text-success{% elif carinst.status == 'tvarkomas' %}text-warning{% else %}text-danger{% endif %}">
                {{ carinst.get_status_display }}
              </span>
          </a>
          ( terminas iki: {{ carinst.terminas }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="user-cars"> Neturite užregistruotų automobilių.</p>
  {% endif %}
{% endblock %}
